
body, button {
	font-size : 20px;
	font-family: sans-serif;
}

h1 {
	font-family: consolas;
	text-align: center;
	margin: 10px 0;
}

h1 span {
	display: inline-block;
	transition: transform 0.5s;
}

h1 span.reverted {
	transform: rotateY(180deg);
}

button, select {
	clear: both;
	display: block;
	text-align: center;
	margin: 20px auto;
	height: 50px;
	width: 200px;
}

#game {
	transform: scale(0.9);
	transform-origin: top;
}

#board {
	border: 10px solid;
}

tr, td {
	display:flex;
}

table {
	border-collapse: collapse;
}

td {
	width:80px;
	height: 80px;
}

tr:nth-child(2n+1) td:nth-child(2n), tr:nth-child(2n) td:nth-child(2n+1) {
	background: #CDDC39;
}

tr:nth-child(2n+1) td:nth-child(2n+1), tr:nth-child(2n) td:nth-child(2n) {
	background: #8BC34A;
}

.pion {
	width:70px;
	height: 70px;
	margin:5px;
	background: grey;
	border-radius: 35px;
	transition: background 0.5s, transform 0.5s;
	transform-style: preserve-3d;
	transform-origin: 35px 35px 0;
}

.black.pion {
	background:black;
	transform: rotateX(0deg) rotateY(0deg) scale(1);
}

.white.pion {
	background:white;
	transform: rotateX(-180deg) rotateY(-180deg) scale(1);
}

.no.pion {
	background: rgba(0, 0, 0, 0);
	transform: scale(2);
}

.case {
	width: 100%;
	height: 100%;	
	transition: background 0.5s, opacity 0.5s;
	background: transparent;
	opacity: 1;
}

.playable {
	background: black;
	opacity: 0.5;
}


#loading, #beginning, #count {
	text-align : center;
}